@mixin buttonProps {
  margin-left: .5em;
  margin-right: .5em;
  cursor: pointer;
  border-radius: .25em;
  margin-bottom: 0;
  max-width: 3.5em;
}
@mixin boxShadow {
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee, 0 5px 50px 0 #15f4ee, 0 5px 50px 0 #15f4ee;
}
body {
  display: grid;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to right, grey, #000000bd);
  margin: 0;
  padding: 0;
  place-content: center;
}
.line-break {
  color: #ffffff;
}
.top {
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}

@import 'sig-space.scss';
@import 'contact-info.scss';
@import 'link-holder.scss';