.contact-info {
  display: grid;
  display: flex;
  place-self: center;
  min-width: 20em;
  place-content: center;
  justify-items: center;
  justify-self: center;
  grid-template-columns: 1fr;
  margin-right: 0;
  border: 0;
}

.p-tags {
  color: #ffffff;
  display: flex;
  font-size: 1.5rem;
  margin-top: 1em;
  margin-bottom: 0;
  place-self: center;
  min-width: 20rem;
  place-content: center;
}