.signature-space {
  display: flex;
  place-content: center;
  margin-bottom: 0;
  height: 4vh;
  .Signature {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: #ffffff;
    font-size: 6rem;
    margin-bottom: 1rem;
    margin-top: -1em;
  }
}